body {
  background-color: lightseagreen;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
img {
  border: white 2px solid;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  transition: ease-in-out 1s;
}
img:hover {
  border-radius: 0%;
  transition: ease-in-out 1s;
}
